<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.ElastiCacheCluster" version="1.0.1.0" targetFramework="net48" />
  <package id="AWS.Logger.Core" version="1.2.0" targetFramework="net48" />
  <package id="AWS.Logger.NLog" version="1.1.3" targetFramework="net48" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.4" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.3.20" targetFramework="net48" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.5" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.3.15" targetFramework="net48" />
  <package id="Castle.Core" version="4.0.0" targetFramework="net48" />
  <package id="Castle.Windsor" version="4.0.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework6.Npgsql" version="3.2.0" targetFramework="net48" />
  <package id="EnyimMemcached" version="2.12" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.OpenIdConnect" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" version="1.17.2" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="MoJ.Digital.TP.TPLibrary" version="0.21.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net48" />
  <package id="NLog" version="4.4.12" targetFramework="net48" />
  <package id="Npgsql" version="4.0.2" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="PagedList" version="1.15.0.0" targetFramework="net40" />
  <package id="PagedList.Mvc" version="4.0.0.0" targetFramework="net40" />
  <package id="routedebugger" version="2.1.5" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.4.403061554" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>